
/* RESET RULES*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* LAYOUT */
.container {
	margin: 0 auto;
	padding: 0 100px;
}

.main-section {
        margin: 0 auto;
        padding: 0 230px;
        min-height: 298px;
}

.section {
    display: flex;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row > * {
	padding: 0 20px;
}

.pill {
    border-radius: 999px;
    padding: 10px;
   
}

.footer-section {
    color: white;
}

h1 {
    padding-bottom: 20px;
}

.smaller {
    font-size: smaller;
}

.social-media {
    display: flex;
    gap: 15px;

}

.bg-white {
    background-color: white;
    color: black;
    font-weight: 8px;
}

.bg-black {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: 8px;
}

.bg-grey {
    background-color: #f5f5f5;
}

.bg-azure {
    background-color: #7289da;
    color: white;
    font-weight: 8px;
}

.bg-antracite {
    background-color: #23272a;
}
.col-50 {
	width: 50%;
}

.col-33 {
	width: calc(100% / 3);
}

.col-66 {
	width: calc(2 * (100% / 3));
}

.col-32 {
	width: calc(2 * (100% / 6));
}

.col-16 {
	width: calc(100% / 6);
}

.p-10 {
    padding-top: 10px;
}
/* HEADER */
.main-header{
    background-color: #255ee9;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar {
    display: flex;
	align-items: center;
	justify-content: space-between;
    color: white;
   
}

.main-menu {
    display: flex;
    gap: 20px;
}

/* HERO */
.hero{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-text {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    align-content: center;
    flex-direction: column;
    gap: 20px;

}

.hero-pill {
    display: flex;
    padding: 20px;
    gap: 10px;
}
/* FIRST SECTION */
.layout-columns {
    display: flex;
    align-items: center;
}

/* CENTRAL SECTION */
.central{
    display: flex;
    justify-content: center;
    align-items: center;

}

.text-big-image-section {
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
    padding-top: 20px;
}

/* DOWNLOAD SECTION */
.download-text-section {
    padding-top: 50px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
}
/* FOOTER */
.footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.color-azure {
    color: #7289da;
}

.list {
   padding-bottom: 10px;
}
/* DEBUG RULES */
.row {
	border: 2px solid red;
	padding: 16px;
}

.row > * {
	border: 2px solid cornflowerblue;
	padding: 16px;
}

.img {
    min-width: 580px;
    min-height: 400px;
}
/*DEBUG COLORS */
.bg-pink {
    background-color: pink;
}


.bg-blue {
    background-color: blue;
}

.bg-acqua {
    background-color: aquamarine;
}

.bg-yellow {
    background-color: yellow;
}

.bg-green {
    background-color: rgb(22, 160, 17);
}

.bg-magenta {
    background-color: rgb(212, 0, 255);
}

/* DEBUG WIDTHS HEIGHTS */
.w-500-h220 {
    min-width: 450px;
    min-height: 220px;
}

.h-200 {
    min-height: 200px;
}
